@import './scss/index.scss';

.success {
    border-color: 1px solid $success !important;
    background-color: $background-success !important;
}

.error {
    border-color: 1px solid $error !important;
    background-color: $background-error !important;
}